body{
    background-color: grey;
}
.header-class{
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin-top:20px;

}
.h1-box{
    border: 4px solid red;
    text-align: center;
    font-style: oblique;
    border-radius: 10px;
    font-size: 20px;
    color: rgb(202, 9, 160);
    height: 65px;
    width: 25%;
    background-color: white;
    font-weight: 600;
    box-shadow: 5px 5px rgb(138, 23, 52);
    padding: 20px;
}
.main-class{
    width:100%;
    border: 5px solid rgb(3, 77, 3);
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin-top:5%
}

.first-row{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:100%;
}

.fr-box1{
    border:4px solid red;
    background-color: white;
    border-radius:10px;
    width:18%;
    color:rgb(138, 23, 52);
    font-size:20px;
    font-weight: 600;
    text-align: center;
    text-shadow:5px 5px 5px rgb(138, 23, 52); ;
    line-height:30px;
    box-shadow: 5px 5px rgb(138, 23, 52);
    margin-bottom:4%;
}
.fr-box2{
    border:4px solid red;
    background-color: white;
    border-radius:10px;
    width:18%;
    text-align: center;
    box-shadow: 5px 5px rgb(138, 23, 52);
    margin-bottom:4%;
}
.fr-box2 img{
    height:80%;
    width:80%;
    position:relative;
    top:10%;
}

.second-row{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:100%;  
}
.sr-box1{
    border:4px solid red;
    background-color: white;
    border-radius:10px;
    width:18%;
    color:rgb(138, 23, 52);
    font-size:20px;
    font-weight: 600;
    text-align: center;
    text-shadow:5px 5px 5px rgb(138, 23, 52); ;
    line-height:30px;
    box-shadow: 5px 5px rgb(138, 23, 52);
    margin-bottom:4%;
}
.sr-box2{
    border:4px solid red;
    background-color: white;
    border-radius:10px;
    width:18%;
    color:rgb(138, 23, 52);
    font-size:20px;
    font-weight: 600;
    text-align: center;
    text-shadow:5px 5px 5px rgb(138, 23, 52); ;
    line-height:30px;
    box-shadow: 5px 5px rgb(138, 23, 52);
    margin-bottom:4%;
}
.sr-box2 label{
    display:block;
    font-size:15px;
    margin-bottom:0px;
    height: 10%
}

.submit-rating{
    background-color:red;
    border:1px solid black;
    border-radius:15px
}

.footer-main{
    width:60%;
    height:70%;
    border:4px solid purple;
    background-color: rgb(3, 77, 3);
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin:auto;
    margin-top:10px;
}
.fm-row1{
    width:100%;
    height:50%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.fm-box1{
    width:50%;
    min-height:200px;
    background-color: rgb(240, 243, 72);
    border:1px solid rgb(138, 23, 52); 
    margin:5px;
    text-align: center;
    padding:2px;
}
.fm-box2{
    width:50%;
    min-height:200px;
    background-color: rgb(240, 243, 72);
    border:1px solid rgb(138, 23, 52); 
    margin:5px;
    text-align: center;
    padding:2px;
    word-wrap:normal;}
    
    .fm-row1 h4{
        font-size: 25px; 
        font-weight:600;
        font-style: oblique;
        margin:15px;
    }
    .fm-row1 p{
        font-style:oblique;
        word-wrap: break-word;
     }
     .fm-row2{
        width:100%;
        height:240px;
        display:flex;
        flex-direction:row;
    }
    .fm-box3{
        width:99%;
        height:230px;
        text-align:center;
        background-color:rgb(240, 243, 72);
        margin:5px;
     }
     .fm-row2 h4{
        height:20%;
       font-size: 25px; 
       font-weight:600;
       font-style: oblique;
       margin:15px;
       padding:15px;
       box-sizing:border-box;
   }

   #fixed-box{
    width:40%;
    height:60px;
    border:4px solid red;
    border-radius: 10px;
    position:fixed;
    bottom: 0px;
    left:29%;
    padding:5px;
    padding-top:20px;
    background-color: rgb(184, 240, 71);
    display:flex;
    flex-direction: row;
    justify-content:space-between;

}

#fixed-box-left{
    font-size: 20px;
    font-style: oblique;
    color:maroon;
    font-weight: 600 ;
}


#fixed-box-right{
    font-size: 18px;
    font-style: oblique;
    color:maroon;
    font-weight: 600 ;
}
.hrr{
    color: white;
    position: relative;
    top: 20px;
    
}